extends ./layout/index
block contenido 
    .mt-5.mb-5.login-form-1
     .form-group
       svg.icon.icon-tabler.icon-tabler-mail(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#ED5432' fill='none' stroke-linecap='round' stroke-linejoin='round')
         path(stroke='none' d='M0 0h24v24H0z' fill='none')
         rect(x='3' y='5' width='18' height='14' rx='2')
         polyline(points='3 7 12 13 21 7')
       label(for="email") Email     
       input.form-control#email(type='text' placeholder='Your Email *' value=user)
     .form-group
       svg.icon.icon-tabler.icon-tabler-key(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#ED5432' fill='none' stroke-linecap='round' stroke-linejoin='round')
                path(stroke='none' d='M0 0h24v24H0z' fill='none')
                circle(cx='8' cy='15' r='4')
                line(x1='10.85' y1='12.15' x2='19' y2='4')
                line(x1='18' y1='5' x2='20' y2='7')
                line(x1='15' y1='8' x2='17' y2='10')
       label(for="password") password              
       input.form-control#password(type='password' placeholder='Your Password *' value=password)      
     .form-group
       .row.justify-content-md-center
        input.btnSubmit(type='submit' value='Login')
     .form-group
       a.btnForgetPwd(href='#') Forget Password?