extends ./layout/index
block contenido
  main.container.mt-5.mb-5
      .row
        .col.md-5 
          img(src="../img/nosotros.jpg", alt="about us").img-fluid
        .col.md-7
          .d-flex.justify-content-center
            h1 #{namePage}  
          blockquote Doggo ipsum blep shoob wow very biscit, heckin. 
            |Sub woofer fat boi I am bekom fat doge, aqua doggo heckin.
            |Snoot heckin angery woofer mlem puggorino doggorino ur givin me a spook you are doing me a frighten, wrinkler pupper shooberino wow very biscit puggorino. Mlem borkf adorable doggo shoob thicc long doggo, puggo vvv aqua doggo. Sub woofer puggorino snoot floofs, 
            |wow very biscit smol borking doggo with a long snoot for pats.
          p Much ruin diet many pats puggo woofer the neighborhood pupper h*ck ur givin me a spook, heckin angery woofer much ruin diet doge borking doggo borkdrive. You are doing me a frighten ur givin me a spook tungg heck doing me a frighten adorable doggo very hand that feed shibe very jealous pupper maximum borkdrive very hand that feed shibe, long woofer vvv ruff shibe many pats most angery pupper I have ever seen boofers.   
          p Lotsa pats wow very biscit doge yapper, h*ck. Long water shoob very taste wow woofer long water shoob woofer, fat boi most angery pupper I have ever seen you are doing me a frighten. Extremely cuuuuuute puggo length boy yapper, you are doing me a frighten pupper.