nav(class="bd-footer  navbar-dark  mt-5s" )
  div.container-fluid
  
   div.row
    .col.col-md-4
     img(src="../../img/logo.svg", alt="empresa",width=120,heigth=120).fluid.mt-2
    .col.col-md-4 
     p.copyright Propiedad de @Anthony
    .col.col-md-4
     p.copyright Derechos reservados 
      span= currentDate   
  